@mixin Radius($radius-value:$vmd-radius-base) {
  @if $vmd-use-radius {
    border-radius: $radius-value;
  }
}

@mixin Border($all:null) {
  @if $all {
    border: 1px solid $vmd-border-color;
  } @else {
    border-bottom: 1px solid $vmd-border-color;
  }
}